.welcomeMain {
	
    height: 99.5vh;
    margin: 7vh auto 3vh;
	
}

.aboveMain {
	
	height: 12vh;
	margin: 18vh 0 0 0;
	line-height: 3em;
}

.highlightTitle {

    font-size:3em;
 	color: olive;
    font-family: 'Rye', cursive;

}

.welcomeSmallTitle{

 font-size: 3em;
 font-family: 'Slabo 27px', serif;

}

#searchBox {
	font-size: 1.5em;
 font-family: 'Slabo 27px', serif;
	width: 33%;
}

.aboveMain label {
	font-size: 1.5em;
 font-family: 'Slabo 27px', serif;
	
}

.leftBook {
	float:left;
	clear:left;
	width:30%;
	height: 26.5vh;
	background-color:blue;
	
}

.centerBook {
	float:left;
	width:30%;
	height: 26.5vh;
	background-color:blue;
	
}

.rightwBook {
	float:right;
	width:30%;
	height: 26.5vh;
	background-color:blue;
	
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  
}
.cell {
  flex: 0 0 33/2%;                       /* don't grow, don't shrink, width */
  height: 26.5vh;
  
}


.founder {
 font-style:italic;
 font-size: 1.5em;
 font-family: 'Slabo 27px', serif;	
	
}

.listImg {
	margin-top:1vh;
    margin-left:2vh;
    min-width: 23vh;
    min-height: 25vh;
    max-width: 23vh;
    max-height: 25vh;
}

.photo-frame {
    box-shadow: 1px 1px 1px 0px #999,
        2px 2px 1px 0px #888,
        3px 3px 1px 0px #777,
        4px 4px 1px 0px #666,
        5px 5px 1px 0px #555,
        6px 6px 1px 0px #444,
        7px 7px 1px 0px #333,
        8px 8px 3px 0px #303030;
    -moz-box-shadow: 1px 1px 1px 0px #999,
        2px 2px 1px 0px #888,
        3px 3px 1px 0px #777,
        4px 4px 1px 0px #666,
        5px 5px 1px 0px #555,
        6px 6px 1px 0px #444,
        7px 7px 1px 0px #333,
        8px 8px 3px 0px #303030;
    -webkit-box-shadow: 1px 1px 1px 0px #999,
        2px 2px 1px 0px #888,
        3px 3px 1px 0px #777,
        4px 4px 1px 0px #666,
        5px 5px 1px 0px #555,
        6px 6px 1px 0px #444,
        7px 7px 1px 0px #333,
        8px 8px 3px 0px #303030;
    transform: translate(-8px,-8px);
    -ms-transform: translate(-8px,-8px);
    -moz-transform: translate(-8px,-8px);
    -webkit-transform: translate(-8px,-8px);
    -o-transform: translate(-8px,-8px);

    transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

